body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    color: #071c4d;
}

// NAVBAR
.navbar-brand {
    img {
        max-height: 50px;
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #071c4d;

            &.active {
                font-weight: bold;
                color: #071c4d !important;
            }
        }

        a {
            font-family: 'Saira Condensed', sans-serif;
            font-size: 20px;
            font-weight: 500;
        }
    }
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;

    height: 70px;
    border-radius: 0;
}

.btn-login {
    font-family: 'Saira Condensed', sans-serif;
    background-color: #071c4d;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;

    &:hover {
        background-color: #1e3771;
        color: #ffffff;
    }
}


// STATISTICS
.section-stats {
    margin-top: -40PX;
    text-align: center;

    .stats-detail {
        padding: 15px 20px;
        background-color: #ffffff;
    }

    h2,
    p {
        color: #071c4d;
    }

    h2 {
        font-size: 22px;
        margin-bottom: 0;
    }

    p {
        font-size: 16px;
        font-weight: lighter;
        margin-bottom: 0;
    }
}

// POPULAR
.section-popular {
    min-height: 540px;
    background-color: #051334;
    margin-top: -65px;
    margin-bottom: -180px;

    // POPULAR HEADING
    .section-popular-heading {
        margin-top: 150px;

        h2,
        p {
            color: #ffffff;
        }

        h2 {
            font-family: 'Saira Condensed', sans-serif;
            font-size: 40px;
        }

        p {
            font-size: 18px;
        }
    }

}

// POPULAR CONTENT
.section-popular-content {
    .section-popular-travel {
        .card-travel {
            min-height: 380px;
            min-width: 320px;
            background-color: #dddddd;
            color: #ffffff;
            padding: 30px;
            background-size: cover;
            margin-bottom: 30px;
        }

        .travel-country {
            font-size: 16px;
            font-weight: 400;
            color: #ffffff;
        }

        .travel-location {
            font-size: 24px;
            font-weight: 400;
            color: #ffffff;
        }

        .travel-button {
            .btn-travel-details {
                background-color: #ff9e53;
                color: #ffffff;

                &:hover {
                    background-color: #ffae6f;
                    color: #ffffff;
                }
            }
        }
    }
}

// TESTIMONIAL HEADING
.section-testimonial-heading {
    background: linear-gradient(#fff 0%, #f7f9ff 100%);
    padding-top: 50px;
    min-height: 440px;

    h2 {
        font-family: "Saira Condensed", sans-serif;
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }
}

// TESTIMONIAL CONTENT
.section-testimonial-content {
    margin-top: -250px;
    padding-top: 50px;

    .card-testimonial {
        padding: 40px 20px 10px;
        border-radius: 11px;
        margin-bottom: 20px;

        .testimonial-content {
            min-height: 320px;

            h3 {
                font-size: 20px;
                font-weight: bold;
            }

            .testimonial {
                font-weight: 200;
                font-size: 18px;
                color: #6e6e6e;
                min-height: 120px;
                max-height: 160px;
            }
        }

        hr {
            margin-left: -20px;
            margin-right: -20px;
        }

        .trip-to {
            font-weight: normal;
            font-size: 20px;
            color: #6e6e6e;
        }
    }

    .btn-need-help {
        background-color: #f2f2f2;
        color: #c3c3c3;

        &:hover {
            background-color: #ffffff;
            color: #c3c3c3;
        }
    }

    .btn-get-started {
        background-color: #ff9e53;
        color: #fff;

        &:hover {
            background-color: #ffae6f;
            color: #ffffff;
        }
    }
}

.section-success {
    height: 100%;

    h1 {
        font-family: 'Saira Condensed', sans-serif;
        font-weight: 600;
        font-size: 26px;
        color: #071c4d;
    }

    h2 {
        font-family: 'Saira', sans-serif;
        font-weight: 600;
        font-size: 32px;
        color: #071c4d;
    }

    p {
        font-family: 'Saira Condensed', sans-serif;
        font-weight: 300;
        font-size: 18px;
    }

    .btn-home-page {
        font-family: 'Saira Condensed', sans-serif;
        font-size: 18px;
        border-radius: 4px;
        background-color: #304577;
        color: #ffffff;

        &:hover {
            background-color: #435e9e;
            color: #ffffff;
        }
    }
}

// FOOTER
.section-footer {
    background-color: #051334;

    h5 {
        font-family: 'Saira Condensed', sans-serif;
        font-size: 20px;
        color: #fff;
    }

    a,
    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        color: #fff;
    }

    .img-footer {
        margin-top: 70px;
        max-height: 100px;
    }
}

// BANNER
.page-heading {
    padding: 100px 0;
    background-size: cover;
    border-bottom: none;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url(../images/category-bg.jpg);
    background-position: bottom;

    .page-title {
        h2 {
            font-family: 'Saira Condensed', sans-serif;
            font-weight: bold;
            color: #fff;
        }
    }
}

// LIST
.main-container {
    min-height: 400px;
    padding: 0px;
    margin-top: 50px;
}

// TABLE
.pro-coloumn {
    padding: 0px;
    position: relative;
    margin-top: 0px;
    padding-bottom: 30px;
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #f5f5f5 #eee #d5d5d5 #eee;
    box-shadow: 0 5px 0 rgba(200, 200, 200, .2);
    margin-bottom: 40px;
}

// PRODUCT
.category-products {
    overflow: hidden;
    padding: 25px 13px 0px 13px;

    .products-list {
        .product-name {
            text-align: left;
            margin: 0px 0 10px;
            font-size: 20px;
            color: #121212;
            font-weight: 500;
            text-align: left;
            font-family: 'Saira Condensed', sans-serif;
            letter-spacing: 0.5px;
        }

        .item {
            padding: 20px 0;
            overflow: hidden;
            margin: 0px !important;
            border-bottom: 1px #ececec solid;
            padding-bottom: 25px;
        }

        .product-image {
            float: left;
            width: 28%;

            img {
                width: 100%;
            }
        }

        .product-shop {
            float: right;
            width: 68%;
            text-align: left;
            margin-left: 25px;

            .price-box {
                margin: 10px 0;

                .regular-price {
                    display: inline;

                    .price {
                        font-family: 'Saira Condensed', sans-serif;
                        font-weight: 500;
                        font-size: 22px;
                        color: #121212;
                    }
                }
            }

            p {
                font-size: 13px;
                font-family: 'Open Sans', sans-serif;
                color: #666;
                line-height: 1.5em;
            }

            .spec-row {
                .label-spec {
                    color: #333;
                    position: relative;
                    width: 50%;
                    float: left;

                    .coln {
                        position: absolute;
                        right: 10px;
                        font-weight: 300;
                        top: 0;
                        color: #999
                    }
                }

                .value-spec {
                    color: #000;
                    padding-right: 19px;
                    width: 50%;
                    float: left
                }
            }

            #summarySpecs {
                margin-top: 20px;
                border: 1px #eaeaea solid;
                margin-bottom: 20px;

                table {
                    tbody {
                        tr {
                            width: 50%;
                            float: left;
                            font-size: 14px;
                            padding: 7px 12px;
                        }
                    }
                }
            }

            .shipping-pro {
                ul {
                    padding: 0px 0 0 20px;
                    font-size: 14px;
                    margin-top: 5px;
                    display: inline-block;
                    width: 100%;
                    font-weight: normal;

                    li {
                        padding: 3px 0px;
                    }
                }
            }

            .btn-go {
                margin-top: 14px;

                .btn-success {
                    margin-right: 10px;
                    width: 345px;
                    font-family: 'Saira Condensed', sans-serif;
                }

                .btn-warning {
                    width: 345px;
                    font-family: 'Saira Condensed', sans-serif;
                }
            }
        }
    }

    .checkout-list {
        .product-name {
            text-align: left;
            margin: 0px 0 10px;
            font-size: 32px;
            color: #121212;
            font-weight: 500;
            text-align: left;
            font-family: 'Saira Condensed', sans-serif;
            letter-spacing: 0.5px;
        }

        .item {
            padding: 20px 0;
            overflow: hidden;
            margin: 0px !important;
            border-bottom: 1px #ececec solid;
            padding-bottom: 25px;
        }

        .product-image {
            float: left;
            width: 28%;

            img {
                width: 100%;
            }
        }

        .product-shop {
            float: right;
            width: 68%;
            text-align: left;
            margin-left: 25px;

            .price-box {
                margin: 10px 0;

                .regular-price {
                    display: inline;

                    .price {
                        font-family: 'Saira Condensed', sans-serif;
                        font-weight: 500;
                        font-size: 22px;
                        color: #121212;
                    }
                }
            }

            p {
                font-size: 13px;
                font-family: 'Open Sans', sans-serif;
                color: #666;
                line-height: 1.5em;
            }

            .spec-row {
                .label-spec {
                    color: #333;
                    position: relative;
                    width: 50%;
                    float: left;

                    .coln {
                        position: absolute;
                        right: 10px;
                        font-weight: 300;
                        top: 0;
                        color: #999
                    }
                }

                .value-spec {
                    color: #000;
                    padding-right: 19px;
                    width: 50%;
                    float: left
                }
            }

            #summarySpecs {
                margin-top: 20px;
                border: 1px #eaeaea solid;
                margin-bottom: 20px;

                table {
                    tbody {
                        tr {
                            width: 50%;
                            float: left;
                            font-size: 14px;
                            padding: 7px 12px;
                        }
                    }
                }
            }

            .shipping-pro {
                ul {
                    padding: 0px 0 0 20px;
                    font-size: 14px;
                    margin-top: 5px;
                    display: inline-block;
                    width: 100%;
                    font-weight: normal;

                    li {
                        padding: 3px 0px;
                    }
                }
            }
        }

        .pay-method {
            td {
                font-family: 'Saira Condensed', sans-serif;
                font-size: 20px;

                img {
                    max-width: 90px;
                    margin-right: 10px;
                }
            }
        }

        .personal-info {
            td {
                padding: 7px 12px;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
            }
        }

        .btn-go {
            margin-top: 14px;

            .btn-success {
                font-size: 18px;
                width: 1035px;
                font-family: 'Saira Condensed', sans-serif;
            }
        }
    }
}

// POPUP
.popup {
    width: 100%;
    margin: 0 auto;
    display: none;
    z-index: 101;

    h2 {
        color: #1f1e1e;
        font-family: "Saira Condensed", sans-serif;
        font-size: 18px;
        margin-top: 10px;
    }

    .ask-question-block {
        left: 50%;
        margin: auto;
        min-height: 150px;
        position: fixed;
        top: 20%;
        width: 300px;
        z-index: 10000;
        margin-left: -150px;
        background: #fff;

        .form-inner {
            width: auto;
            background: #fff;
            padding: 0px 25px 18px 25px;
            position: relative;

            .form-block {
                margin-bottom: 10px;

                label {
                    font-size: 13px;
                    color: #888;
                    display: block;
                    font-weight: normal;
                }

                input {
                    display: block;
                    margin-right: 0px;
                    padding: 5px 10px;
                    width: 250px;
                    border: 1px solid #ddd;
                    text-align: left;
                }

                .button {
                    width: 250px;
                    height: 40px;
                    font-family: "Saira Condensed", sans-serif;
                    font-size: 18px;
                    padding: 5px 15px;
                    margin-top: 5px;
                    background-color: #3f7088;
                    color: #fff;
                }
            }
        }

        .x {
            position: absolute;
            right: -15px;
            top: -90px;
            z-index: 10000;
        }

        h3 {
            color: #121212;
            font-size: 22px;
            font-weight: 500;
            margin-bottom: 0px;
            padding: 15px 25px 15px 25px;
            position: relative;
            display: inline-block;
            font-family: 'Saira Condensed', sans-serif;
            letter-spacing: 1px;
            text-transform: uppercase;
            background: #d3cee5;
            margin-top: 0px;
            min-width: 300px;
            margin-bottom: 10px
        }
    }
}

// ORDER
.order-row {
    .tbody-order {
        font-size: 20px;
        color: #121212;
        font-weight: 500;
        font-family: 'Saira Condensed', sans-serif;

        .order-no {
            text-align: center;
            vertical-align: middle;
        }

        .order-image {
            float: left;
            width: 28%;

            img {
                max-width: 250px;
            }
        }

        .order-name {
            .table-order {
                td {
                    padding: 0 0 10px;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 16px;
                }
            }
        }

        .order-status {
            text-align: center;
            vertical-align: middle;
        }

    }
}
